{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
<section class="jumbotron" style="background-image: url({% static 'svg/hero_bg.svg' %});">
    <div class="jumbotron_bar">
	    <div class="container">
	        <ol class="breadcrumb hidden-xs pull-left">
		        <li><a href="{% url 'catalog:nodes' %}">Inicio</a></li>
		        <li class="active"><a href="{% url 'catalog:node' node.id %}">{{ node.identifier }}</a></li>
		        <li class="active"><span>Distribuciones</span></li>
	        </ol>
	        <ol class="list-inline pull-right d-flex flex-wrap align-items-center">
		        <li><span class="m-b-xs">ESTÁS VIENDO NODO {{ node.identifier|upper }}</span></li>
		        <li><a href="{% url 'catalog:nodes' %}" class="btn btn-primary btn-sm m-b-0">CAMBIAR DE NODO</a></li>
	        </ol>
        </div>
    </div>
    <div class="jumbotron_body">
        <div class="container">
            <h1>Distribuciones</h1>
            <p>{{ node.identifier }}</p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="m-b-4">
	        <div class="row d-flex flex-wrap align-items-center">
		        <div class="col-xs-12 col-md-4">
			        <p class="m-b-0">
						{% with object_list|length as results %}
						{% if results == 1 %}
						1 resultado
						{% else %}
						{{ results }} resultados
						{% endif %}
						{% endwith %}
					</p>
		        </div>
		        <div class="col-xs-12 col-md-8">
			        <div class="row">
				        <div class="col-xs-12 col-sm-5">
					        <a href="{% url 'catalog:add_distribution' node_id=node.id %}" class="btn btn-primary btn-block text-nowrap m-b-0"><i class="fa fa-plus-circle fa-fw fa-lg"></i> AGREGAR DISTRIBUCIÓN</a>
				        </div>
			        </div>
		        </div>
	        </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover -has-hidden-content">
				<thead>
					<tr>
						<th>Nombre de archivo</th>
                        <th class="text-center">ID</th>
						<th class="text-center">Fecha</th>
						<th>Acciones</th>
                    </tr>
                </thead>
				<tbody>
				{% for id, distributions in object_list.items %}
					{% with distributions.0 as last_distribution_upload %}
					<tr>
					    <td>{{ last_distribution_upload.distribution.file_name }}</td>
					    <td class="text-center">{{ id }}</td>
						<td class="text-center">{{ last_distribution_upload.uploaded_at|date:"d/m/Y" }}</td>
						<td>
						    <div class="d-flex align-items-center justify-content-start">
							    <a href="{% get_media_prefix  %}{{ last_distribution_upload.file_path }}"
                                   download="{{ last_distribution_upload.distribution.file_name }}"
										type="button" class="btn btn-primary btn-sm text-nowrap m-b-0 m-r-05"><i class="fa fa-download fa-fw fa-lg"></i> DESCARGAR</a>
                                <div class="table-hidden-content">
									<button id="fileCopy{{ forloop.counter }}" data-url="{% get_media_prefix  %}{{ last_distribution_upload.file_path }}"
                                            class="btn btn-primary btn-sm m-b-0 m-r-05"
											onclick="copyUrlToClipBoard(fileCopy{{ forloop.counter }})"
                                            data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Vínculo copiado al portapapeles">
										<i class="fa fa-link fa-fw fa-lg"></i>
                                    </button>
                                    <a data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}"
                                       class="btn btn-primary btn-sm m-b-0 m-r-05" title="Eliminar">
										<i class="fa fa-trash fa-fw fa-lg"></i>
                                    </a>
                                    <a href="{% url 'catalog:distribution_uploads' node_id=node.id identifier=id %}" class="btn btn-primary btn-sm m-b-0" title="Ver anteriores">
                                        <i class="fa fa-clock-o fa-fw fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            ¿Está seguro de querer eliminar la distribución "{{ id }}"?
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button id="distributionDelete{{ last_distribution_upload.id }}"
                                                    onclick="deleteDistribution({{ last_distribution_upload.id }})"
                                                    data-url="{% url 'catalog:delete_distribution' node_id=node.id identifier=id %}"
                                                    type="button" data-dismiss="modal"
                                                    class="btn btn-primary">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
					{% endwith %}
				{% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
		<div class="text-center">
			<ul class="pagination">
                {% if page_obj.has_previous %}
				<li>
					<a href="?page={{ page_obj.previous_page_number }}">
						<i class="fa fa-angle-left fa-fw fa-lg"></i>
                    </a>
                </li>
                {% endif %}

                <li class="active"><a>{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

				<li><a href="#">{{ page_obj.}}</a></li>

                {% if page_obj.has_next %}
				<li>
					<a href="?page={{ page_obj.next_page_number }}">
						<i class="fa fa-angle-right fa-fw fa-lg"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>
{% csrf_token %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/copy_url.js' %}"></script>
    <script src="{% static 'js/delete.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
