{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Distribución {{ identifier }} ({{ node_identifier }})</h1>

<a class="catalogs" href="{% url 'catalog:node_distributions' node_id=node_id %}">Volver</a>

<a href="{% url 'catalog:add_distribution_version' node_id=node_id identifier=identifier %}">Subir nueva versión</a>

<h3>Archivos actuales</h3>
<div class="container">
    <a class="catalogs" href="{% get_media_prefix  %}{{ object_list.0.file_path }}" download="{{ object_list.0.file_name }}">{{ object_list.0.file_name }}</a>
</div>

<h3>Versiones anteriores</h3>
<div class="container">
    {% for distribution in object_list %}
        <a class="catalogs" href="{% get_media_prefix  %}{{ distribution.file.name }}" download="{{ distribution.file_name_with_date }}">{{ distribution.file_name }} ({{ distribution.uploaded_at }})</a>
    {% endfor %}
</div>

{% endblock %}
