{% extends 'base.html' %}
{% load i18n static %}

{% block body %}

<section>
    <div class="container">
		<div class="m-b-2">
			<div class="row d-flex justify-content-center">
				<div class="col-xs-12 col-md-5">
					<h4 class="activities-sidbar">Bienvenidos a Infra.datos.gob.ar</h4>
                </div>
            </div>
        </div>
		<div class="row d-flex justify-content-center">
			<div class="col-xs-12 col-md-5">
                {% if form.errors%}
				<div id="errores" aria-live="polite" class="alert alert-danger">
                    {% if not form.non_field_errors %}
                        <p class="errornote">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                        </p>

                    {% else %}
                        {% for error in form.non_field_errors %}
                        <p class="errornote">
                            {{ error }}
                        </p>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
                <form action="{{ app_path }}" method="post" id="login-form">
                    {% csrf_token %}

					<div class="form-group item-form">
						<label for="{{ form.username.id_for_label }}">Usuario</label>
						<input id="{{ form.username.id_for_label }}" type="text" name="username" class="form-control" placeholder="Usuario"
                        {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}>
                    </div>
					<div class="form-group item-form">
						<label for="{{ form.password.id_for_label }}" class="pull-left">Contraseña</label>
                        <input id="{{ form.password.id_for_label }}" type="password" name="password" class="form-control" placeholder="Contraseña"
                        {% if form.password.value != None %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}>
                    </div>
                    <input class="btn btn-success m-b-3" type="submit" value="{% trans 'INGRESAR' %}"/>
                </form>
                {% url 'admin_password_reset' as password_reset_url %}
                <p><a href="{{ password_reset_url }}">Recuperar mi contraseña</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}