* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 12px 0;
  box-sizing: content-box;
  color: rgb(0, 0, 0);
  font-size: 16px;
  height: 75px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  width: 100%;
  z-index: 4;
  background: white;
}


header .header-container {
  width: 95%;
  align-content: center;
  display: flex;
}

header .header-container img {
  padding-left: 5%;
}

header .header-container .logout {
  text-align: right;
  flex: 1;
}

.main-content {
 padding-top: 80px;
 text-align: center;
}

a.catalogs {
    display: block;
  width: fit-content;
}

.custom-form {
    padding: 20px 0px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.general-container {
    padding: 30px 0px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.form-control.form-control-select-two {
    padding: 0 8px;
}