* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 12px 0;
  box-sizing: content-box;
  color: rgb(0, 0, 0);
  font-size: 16px;
  height: 75px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background: white;
}


header .header-container {
  width: 95%;
  align-content: center;
  display: flex;
}

header .header-container img {
  padding-left: 5%;
}

header .header-container .logout {
  text-align: right;
  flex: 1;
}

.main-content {
 padding-top: 80px;
}

