* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main-content {
 padding-top: 15px;
 text-align: center;
}

a.catalogs {
    display: block;
  width: fit-content;
}

.custom-form {
    padding: 20px 0px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.general-container {
    padding: 30px 0px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#file-field input {
    margin-top: 12px;
}
.i-breadcrumb {
    padding-left: 40px;
}

.i-breadcrumb li {
    font-size: 18px;
    font-weight: 400;
    color: #707070;
}

.i-breadcrumb li a {
    color: #0072bb;
    font-weight: 500;
}
