body { position: relative; height: auto; min-height: 100%; padding-bottom: 200px; }

footer.main-footer { position: absolute; width: 100%; bottom: 0; }

.m-r-05 { margin-right: .5rem !important; }

.text-nowrap { white-space: nowrap; }

.bg-w { background: white; }

.no-text-decoration { text-decoration: none; }

.icon { display: block; object-fit: contain; }
.icon.-small { width: 40px; height: 40px; }
.icon.-large { width: 100px; height: 100px; }

.table th, .table td { vertical-align: middle !important; }
.table.-has-hidden-content tr .table-hidden-content { pointer-events: none; opacity: 0; }
.table.-has-hidden-content tr:hover .table-hidden-content { pointer-events: auto; opacity: 1; }

@media (max-width: 700px) { .m-b-xs { margin-bottom: 10px !important; }
  .m-lg-b-xs { margin-bottom: 30px !important; } }
@media (max-width: 900px) { .table.-has-hidden-content tr .table-hidden-content { pointer-events: auto; opacity: 1; } }