<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-upload fa-fw"></i> SUBIR UN ARCHIVO</a></li>
    <li> <a href="#tab-2" data-toggle="tab"><i class="fa fa-link fa-fw"></i> IMPORTAR DESDE URL</a></li>
</ul>
<div class="tab-content p-t-2">
    <div class="tab-pane active" id="tab-1">
        <div class="form-group item-form">
            <label>Archivo:</label>
            {{ form.file }}
        </div>
    </div>
    <div class="tab-pane" id="tab-2">
        <div class="form-group item-form">
            <label>URL:</label>
            {{ form.url }}
        </div>
    </div>
</div>