{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
<section class="jumbotron" style="background-image: url({% static 'svg/hero_bg.svg' %});">
    <div class="jumbotron_bar">
	    <div class="container">
	        <ol class="breadcrumb hidden-xs pull-left">
		        <li><a href="{% url 'catalog:nodes' %}">Inicio</a></li>
                <li class="active"><a href="{% url 'catalog:node' node_id %}">{{ node_identifier }}</a></li>
                <li>Agregar Catálogo</li>
	        </ol>
	        <ol class="list-inline pull-right d-flex flex-wrap align-items-center">
		        <li><span class="m-b-xs">ESTÁS VIENDO NODO {{ node_identifier|upper }}</span></li>
		        <li><a href="{% url 'catalog:nodes' %}" class="btn btn-primary btn-sm m-b-0">CAMBIAR DE NODO</a></li>
	        </ol>
        </div>
    </div>
    <div class="jumbotron_body">
        <div class="container">
            <h1>Subir nueva versión del catálogo</h1>
            <p>{{ node_identifier }}</p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-lg-5">
                <h4 class="m-b-3">Subir nueva versión del catálogo:</h4>
            </div>
        </div>
        {% if messages %}
            <div class="row d-flex justify-content-center errors">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-danger error">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-10 col-lg-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group item-form">
                        <label>Formato:</label>
                        {{ form.format }}
                    </div>
                    {% include 'file_or_url.html' %}

                    <div class="row">
                        <div class="col-xs-6">
                            &nbsp;
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-success pull-right" onclick="this.form.submit(); this.disabled=true; $(this).addClass('state-loading');"
                                    type="submit">Agregar</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
