{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-primary">Agregar catálogo</h1>

    {% if messages %}
        <div class="errors col-sm-6 col-sm-offset-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-danger error">
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form class="custom-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 form-group item-form">
                        <strong class="col-sm-1">{{ form.format.label }}</strong>
                        {{ form.format }}
                    </div>
                </div>
                {% include 'file_or_url.html' %}

                <input class="btn btn-success" type="submit" value="Agregar">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="{% url 'catalog:node' node_id=node_id %}">Volver</a>
    </div>
    <script type="application/javascript" src="{% static 'file_or_url.js' %}"></script>
{% endblock %}