{% extends 'base.html' %}

{% block breadcrumbs %}
    <li>
        <a href="{% url 'catalog:nodes' %}">Nodos</a>
    </li>
    <li>
        <a href="{% url 'catalog:node' node_id %}">{{ node_identifier }}</a>
    </li>
    <li>
        <a href="{% url 'catalog:add_catalog' node_id %}">Agregar Catálogo</a>
    </li>
{% endblock %}

{% block content %}
<h1 class="text-success">Éxito</h1>

<a class="btn btn-primary btn-sm" href="{% url 'catalog:node' node_id=node_id %}">Volver al nodo</a>

{% if messages %}
<div class="info">
    <h5>Se encontraron los siguientes errores en la validación del catálogo:</h5>
</div>
<div class="info">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-danger info">
        {{ message|safe }}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="info">
    <h5>El catálogo subido es válido</h5>
</div>
{% endif %}

{% endblock %}
