{% load i18n static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>infra.datos.gob.ar</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/poncho.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flex_styles.css' %}"/>
    {% block styles %}
    {% endblock %}
</head>
<body>

<header>{% block header %}{% include 'header.html' %}{% endblock %}</header>
{% block body %}


{% block breadcrumbs %} {% endblock %}

{% block content %}
{% endblock %}

{% endblock %}

<footer class="main-footer">{% block footer %}{% include 'footer.html' %}{% endblock %}</footer>

</body>


{% block scripts %}
{% endblock %}
</html>