{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
	    <h4 class="m-b-4">Bienvenidos a la plataforma Infra.datos.gob.ar</h4>
		<h5 class="m-b-2">Seleccione el nodo:</h5>
		<div class="row">
            {% for node in object_list %}
			<div class="col-sm-6 col-md-3">
				<a class="panel panel-default" href="{% url 'catalog:node' node_id=node.id %}">
					<div class="panel-body">
						<h4>{{ node }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
	</div>
</section>

{% endblock %}
