{% extends 'base.html' %}

{% block content %}

<h1>Catálogos del nodo {{ node_name }}</h1>

<a class="catalogs" href="{% url 'catalog:nodes' %}">Volver</a>

<a href="{% url 'catalog:add_catalog' node_id=node_id %}">Subir nueva versión</a>

<h3>Distribuciones</h3>
<a href="{% url 'catalog:node_distributions' node_id=node_id %}">Ver distribuciones</a>

<h3>Archivos actuales</h3>
<div class="container">
    <a href="{{ base_url }}{{ node_name }}/data.json" download="data.json">data.json</a>
    {% if has_xlsx %}
        <a class="catalogs" href="{{ base_url }}{{ node_name }}/catalog.xlsx" download="catalog.xlsx">catalog.xlsx</a>
    {% endif %}
</div>

<h3>Versiones anteriores</h3>
<div class="container">
    {% for catalog in object_list %}
        <a class="catalogs" href="/{% if 'media' in base_url %}media/{% endif %}{{ catalog.file }}" download="{{ catalog.file }}">{{ catalog.uploaded_at }} ({{ catalog.format }}) </a>
    {% endfor %}
</div>

{% endblock %}
